<!-- interpolar la variable titulo en el h3 -->
<h3 align="center"> {{ title }} </h3><br>
  <div class="row row-cols-1 row-cols-md-6">
       
       <!-- Definir la etiqueta para incluir *ngFor, paso de datos a card-trabajador y recepción de eventos del hijo -->
       
      
        <app-card-trabajador *ngFor = "let trabajador of trabajadores" 
        [trabajador]="trabajador"
        (likeTrabajador)="sumaVoto($event)"
        (unlikeTrabajador)="restaVoto($event)"
        (borraTrabajador)="borrar($event)">

        </app-card-trabajador>
  </div>  
